.rightBar {
  position: fixed;
  top: 0;
  right: 0;
  width: 700px;
  min-height: 100%;
  background-color: #fff;
  z-index: 2;
  transform: translateX(100%);
  transition: 0.4s transform ease;

  &.open {
    transform: translateX(0%);
    transition: 0.4s transform ease;
  }
}
