$primary: #2522ba;
$scandry: #f9f9f9;
$danger: #c75c6f;
$warning: #ffdc60;

.heading {
  font-size: 60px;
  font-weight: 500;
}
.title {
  color: $danger;
  font-size: 20px;
  font-weight: 500;
}
.text-title {
  color: rgb(92, 88, 88);
  font-size: 22px;
}
